<div class="row mt-3">
  <div class="col d-flex justify-content-between align-items-center">
    <div class="fs-1 fw-bold text-primary">Menu ({{totalPrice | currency:"SGD":"symbol-narrow"}}) </div>
    <div>
      <button type="button" class="btn btn-primary" (click)="placeOrder()">
        Place Order ({{countQuantity}})
      </button>
    </div>
  </div>
</div>


  @if(menuItems.length > 0){
    @for(menuItem of menuItems ; let idx=$index ;track menuItem.id){
      <div class="row mb-2">
        <div class="col">
          <div class="menu-item">
            <div>
              <button type="button" class="btn btn-warning">
                <i class="bi bi-x-square" (click)="removeItem(idx)"></i>
              </button>
            </div>
            <div class="menu-details">
              <div>Name: <span class="fw-bold"> {{menuItem.name}} </span> </div>
              <div>Description:
                <span class="fst-italic">
                  {{menuItem.description}}
                </span>
              </div>
              <div>
                <div class="mb-2">Price: 
                  <span class="fst-italic">{{menuItem.totalPrice |number:'1.2-2'| currency:"SGD":"symbol-narrow"}}</span>
                </div>
              </div>
                <div class="text-danger fw-bold">Quantity: {{menuItem.quantity}}</div>
            </div>
            <div class="menu-button-end">
              <button type="button" class="btn btn-success" (click)="addItem(idx)">
                <i class="bi bi-plus-circle"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    }
  }



 



